[Unit]
Description=SoftEther VPN Client Daemon
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
User=root
ExecStart=/usr/bin/env /opt/logixware/Logixware.SoftEther.Client/daemon/Logixware.SoftEther.Client.Daemon
WorkingDirectory=/opt/logixware/Logixware.SoftEther.Client/daemon

[Install]
WantedBy=multi-user.target
