[Unit]
Description=Logixware SoftEther Client Daemon
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
User=root
ExecStart=/usr/bin/env /opt/logixware/Logixware.SoftEther.Client.Daemon/Logixware.SoftEther.Client.Daemon
WorkingDirectory=/opt/logixware/Logixware.SoftEther.Client.Daemon

[Install]
WantedBy=multi-user.target
